@media (max-width: 1330px) {
  //Global
  // Header
  .header-menu-list ul li a {
    margin-right: 10px;
  }
  .header-menu-time-tel {
    padding-left: 0;
    padding-right: 0;
  }
  .header-menu-btn-arrow {
    display: none;
  }

  // Main
  // Footer
}

@media (max-width: 1170px) {
  //Global
  // Header
  .header-menu-btn {
    width: 50%;
    font-size: 0;
  }
  .header-menu-btn-icon {
    top: 67%;
    left: 50%;
  }
  // Main
  // Footer
}

@media (max-width: 992px) {
  //Global
  // Header
  // Main
  // Footer
}

@media (max-width: 768px) {
  //Global
  // Headaer
  // Main
  // Footer
}

@media (max-width: 576px) {
  //Global
  // Headaer
  // Main
  // Footer
}

@media (max-width: 400px) {
  //Global
  // Header
  // Main
  // Footer
}
