// @media (max-width: 1330px) {
//   //Global
//   // Header
//   .menu-list {
//     text-align: center;
//   }

//   .header .menu-list ul li a {
//     margin-right: 14px;
//   }
//   .menu-time-tel {
//     padding-left: 0;
//     padding-right: 0;
//   }

//   // Main
//   // Footer
//   // caralogList start
//   .filter {
//     display: none;
//   }
//   .installments {
//     // display: none;
//   }

//   .catalog {
//     &-item {
//       border-right: none;
//       &-img {
//         padding-top: 55px;
//         padding-bottom: 0;
//         text-align: center;
//         display: block;
//       }
//       &-features {
//         display: none;
//       }
//       &-description {
//         padding-top: 0;
//         margin: auto;
//       }
//     }
//     &-description {
//       padding-top: 0;
//       padding-left: 70px;
//       &-first_price {
//         display: inline-block;
//         // padding-left: 35px;
//         padding-right: 29px;
//       }
//       &-second_price {
//         display: inline-block;
//       }
//     }
//     &-marker {
//       top: 1%;
//     }
//     .dots {
//       display: none;
//     }
//   }
//   // ctalogList end
// }
@media (max-width: 1250px) {
  //Global
  // Header
  .menu-time-work br {
    display: none;
  }
  .header .menu-time-work {
    display: block;
    margin-right: 10px;
    text-align: start;
    br {
      display: none;
    }
  }

  // Main
  // Footer
}

@media (max-width: 1170px) {
  //Global
  // Header
  .header .menu-btn-icon {
    left: 7%;
  }
  .header .menu-btn-arrow {
    left: 93%;
  }
  .header .menu-btn {
    width: 156px;
  }
  .header .menu-time-tel .time-tel-big {
    font-size: 1.2rem;
  }
  .menu-time-work {
    width: 100%;
    margin-bottom: 5px;
    text-decoration: underline;
  }
  // Main
  // Footer
}

@media (max-width: 992px) {
  //Global
  // Header
  .header {
    .main {
      box-shadow: 0px 4px 20px #d6e3f200;
      &-burger {
        display: block;
      }
      &-mob-tel {
        display: block;
      }
      &-menu {
        display: none;
      }
      &-search {
        display: none;
      }
      .col-search {
        margin-top: 30px;
        order: 2;
      }
      .col-menu {
        display: none;
      }
      &-mobile-burger {
        display: inline-block;
      }
      &-mobile-tel {
        display: inline-block;
      }
      &-logo {
        text-align: center;
      }
    }
  }
  .col-mobile-burger {
    display: block;
  }
  .col-mobile-tel {
    text-align: center;
  }
  .menu {
    display: none;
  }
  // Main

  .categories-cards {
    flex-direction: column;
    align-items: flex-start;
  }

  .mobile-nav {
    display: flex;
  }
  // Footer
}

@media (max-width: 768px) {
  //Global
  // Headaer
  // Main
  // Footer
}
@media (max-width: 668px) {
  //Global
  // Headaer
  // Main
  .categories-card-img {
    -ms-flex: 0 0 45px;
    flex: 0 0 45px;
    height: 45px;
    margin-bottom: 10px;
    padding: 0px 10px;
    img {
      max-height: 45px;
    }
  }
  // Footer
}

@media (max-width: 576px) {
  //Global
  // Headaer
  // Main
  .banner-img {
    order: 2;
  }
  .banner-slider .slick-arrow {
    display: none;
  }
  .slider-offer-left,
  .slider-offer-right,
  .slider-hits-left,
  .slider-hits-right {
    display: none;
  }
  .categories-card {
    flex-direction: column;
    align-items: flex-start;
  }
  .categories-card-text .categories-card-text-title {
    font-size: rem(12px);
  }

  .catalog {
    &-description {
      &-title {
        font-size: rem(9px);
      }
      &-price {
        font-size: rem(20px);
        span {
          font-size: rem(9px);
        }
      }
    }
  }

  // Footer
}

@media (max-width: 400px) {
  .catalog {
    &-item {
      padding-left: 10px;
      padding-right: 10px;
      &-description {
        padding-left: 0;
      }
    }
    &-description {
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 30px;
      &-first_price {
        padding-left: 0;
      }
      &-title {
        font-size: 9px;
      }
      &-price {
        font-size: 20px;
        span {
          font-size: 9px;
        }
      }
      &-btns {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
      }
      &-btn {
        display: inline-block;
        position: relative;
        flex: 0 0 60%;
        height: 40px;
        line-height: 40px;
        font-size: rem(11px);
        img {
          position: absolute;
          top: 12%;
          right: 0;
          height: rem(18px);
        }
      }
      &-compare {
        display: inline-block;
        position: relative;
        width: 40px;
        height: 40px;
        border: 1px solid #d6e3f2;
        border-radius: 4px;
        margin-left: 10px;
        img {
          position: absolute;
          transform: translate(-50%, -50%);
          top: 50%;
          left: 50%;
        }
      }
      &-favorite {
        display: inline-block;
        position: relative;
        width: 40px;
        height: 40px;
        border: 1px solid #d6e3f2;
        border-radius: 4px;
        margin-left: 10px;
        img {
          position: absolute;
          transform: translate(-50%, -50%);
          top: 50%;
          left: 50%;
        }
      }
    }

    table tbody tr td {
      width: 56%;
      font-size: rem(11px);
      padding-right: 25px;
    }
    table tbody tr td:nth-child(2) {
      font-weight: 600;
    }
  }
  .filter {
    &-btns {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding-bottom: 30px;
    }
    &-btn {
      flex: 0 0 80%;
      font-size: rem(11px);
      height: 48px;
      line-height: 48px;
      text-align: center;
      border: 1px solid #d6e3f2;
      color: $colorCyan;
      font-weight: 600;
      text-transform: uppercase;
      &:hover {
        background-color: $colorCyan;
        color: #ffffff;
      }
      &-rectangle {
        display: inline-block;
        position: relative;
        width: 48px;
        height: 48px;
        border: 1px solid #d6e3f2;
        border-radius: 4px;
        margin-left: 10px;
        &:hover {
          background-color: $colorCyan;
          color: #ffffff;
        }
        img {
          position: absolute;
          transform: translate(-50%, -50%);
          top: 50%;
          left: 50%;
        }
      }
    }
    &-bottom {
      &-show {
        flex: 0 0 77%;
      }
    }
  }
  .footer {
    &-top {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
  //Global
  // Header
  .header .main-logo {
    display: flex;
    flex: 0 0 100;
    align-items: center;
  }
  // Main
  // Footer
}
