$ffMontserrat: "Montserrat", sans-serif;
$colorBlack: #191919;
$colorSilver: #647b98;
$colorBlue: #2963cb;
$colorCyan: #398aea;
$colorWhite: #f4f9ff;
$colorGradient: linear-gradient(
  92.42deg,
  #398aea 14.1%,
  #39a3ea 31.59%,
  #39c0ea 46.36%,
  #39c0ea 61.13%,
  #27a6dd 74.74%,
  #398aea 88.73%
);
// Mixin
$html-font-size: 16px;
@function stripUnit($value) {
  @return $value / ($value * 0 + 1);
}
@function rem($pxValue) {
  @return #{stripUnit($pxValue) / stripUnit($html-font-size)}rem;
}

h1,
p,
ul,
li {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

p,
.p {
  font-family: $ffMontserrat;
  font-weight: 400;
  font-size: rem(15px);
  color: $colorBlack;
}
[class*="-h1"] {
  font-family: $ffMontserrat;
  font-weight: 600;
  font-size: rem(36px);
  color: $colorBlack;
}
h1,
.h1 {
  font-family: $ffMontserrat;
  font-weight: 600;
  font-size: rem(36px);
  color: $colorBlack;
}
[class*="-h2"] {
  font-family: $ffMontserrat;
  font-weight: 600;
  font-size: rem(24px);
  color: $colorBlack;
}
h2,
.h2 {
  font-family: $ffMontserrat;
  font-weight: 600;
  font-size: rem(24px);
  color: $colorBlack;
}
[class*="-h3"] {
  font-family: $ffMontserrat;
  font-weight: 600;
  font-size: rem(22px);
  color: $colorBlack;
}
h3,
.h3 {
  font-family: $ffMontserrat;
  font-weight: 600;
  font-size: rem(22px);
  color: $colorBlack;
}

[class*="-h4"] {
  font-family: $ffMontserrat;
  font-weight: 400;
  font-size: rem(20px);
  color: $colorBlack;
}
h4,
.h4 {
  font-family: $ffMontserrat;
  font-weight: 400;
  font-size: rem(20px);
  color: $colorBlack;
}
[class*="-h5"] {
  font-family: $ffMontserrat;
  font-weight: 400;
  font-size: rem(18px);
  color: $colorBlack;
}
h5,
.h5 {
  font-family: $ffMontserrat;
  font-weight: 400;
  font-size: rem(18px);
  color: $colorBlack;
}

a {
  text-decoration: none;
  color: $colorBlack;
}

ul,
li {
  list-style: none;
  font-family: $ffMontserrat;
}

button {
  cursor: pointer;
}
input,
textarea {
  outline: none;
}

.span-blue {
  color: $colorCyan;
}
// Example of Btn
.ui-btn {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 36px;
  line-height: 36px;
  background: $colorGradient;
  font-weight: 600;
  font-size: rem(11px);
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// Breadcrumbs example
[class*="-breadcrumbs"] {
  text-align: start;
  a {
    font-size: rem(13px);
    font-weight: 400;
    color: $colorSilver;
    display: inline-block;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  :last-child {
    color: #95a4b8;
    text-decoration: none;
    i {
      display: none;
    }
  }
  i {
    margin-left: 8px;
    margin-right: 8px;
    font-size: 10px;
  }
}

// Card product
.ui-card-product {
  padding: 20px;
  border: 1px solid #d6e3f2;
  width: 274px;
  border-right: 0px;

  .ui-btn {
    background: $colorBlue;
    width: calc(100% - 72px);
    transition: 0.3s ease;
    padding: 0px 5px;
    &-img {
      height: 20px;
      img {
        display: block;
        max-height: 20px;
      }
    }
    &-text {
      padding: 0px 5px;
    }
    &:hover {
      background: #2c75fc;
    }
  }
  &-img {
    position: relative;
    height: 212px;
    margin-bottom: 15px;
    text-align: center;
    img {
      max-height: 212px;
      margin: 0 auto;
    }
  }
  &-hits {
    position: absolute;
    width: 93px;
    height: 24px;
    text-transform: uppercase;
    background-color: #ea3939;
    color: #ffffff;
    font-size: 10px;
    font-weight: 600;
    text-align: center;
    line-height: 24px;
  }
  &-title {
    font-weight: 300;
    font-size: rem(15px);
    margin-bottom: 10px;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  &-articule {
    font-weight: 300;
    font-size: rem(10px);
    color: #758da9;
  }
  &-text {
    margin-bottom: 20px;
    height: 80px;
  }
  &-price {
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 15px;
  }
  &-sale {
    font-size: rem(20px);
    font-weight: 600;
  }
  &-normal {
    font-size: rem(16px);
    font-weight: 400;
    text-decoration: line-through;
    margin-left: 10px;
  }
  .card-price-units {
    font-size: rem(10px);
  }
}
// Card buttons
.ui-card-btns {
  .ui-btn-img {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 5px;
  }
  .ui-btn-text {
    display: inline-block;
  }
  .ui-btn-favorite,
  .ui-btn-compare {
    position: relative;
    // padding: 18px;
    width: 36px;
    height: 36px;
    line-height: 34px;
    border: 1px solid #d6e3f2;
    border-radius: 4px;
    margin-left: 5px;
    transition: 0.3s ease;
    img {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
    }
    &:hover {
      border: 1px solid $colorBlue;
    }
  }
}
// Input

.ui-input {
  width: 100%;
  height: 52px;
  padding: 0px 20px;
  border: 1px solid #e5edf7;
  border-radius: 4px;
  &::-webkit-input-placeholder {
    color: #a8c0dd;
  }
}

input::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
input::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
input:-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
input:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
input:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
input:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
input:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
