$ffMontserrat: "Montserrat", sans-serif;
$colorBlack: #191919;
$colorSilver: #647b98;
$colorBlue: #2963cb;
$colorCyan: #398aea;
$colorWhite: #f4f9ff;
$colorGradient: linear-gradient(
  92.42deg,
  #398aea 14.1%,
  #39a3ea 31.59%,
  #39c0ea 46.36%,
  #39c0ea 61.13%,
  #27a6dd 74.74%,
  #398aea 88.73%
);
// Mixin fucntion
@function calculateRem($size) {
  $remSize: $size / 16px;
  //   $remSize: #{math.div($size, 16px)};
  @return #{$remSize}rem;
}

@mixin fontSize($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

h1,
p,
ul,
li {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

[class*="-p"] {
  font-family: $ffMontserrat;
  font-weight: 400;
  @include fontSize(15px);
  color: $colorBlack;
}
p,
.p {
  font-family: $ffMontserrat;
  font-weight: 400;
  @include fontSize(15px);
  color: $colorBlack;
}
[class*="-h1"] {
  font-family: $ffMontserrat;
  font-weight: 600;
  @include fontSize(36px);
  color: $colorBlack;
}
h1,
.h1 {
  font-family: $ffMontserrat;
  font-weight: 600;
  @include fontSize(36px);
  color: $colorBlack;
}
[class*="-h2"] {
  font-family: $ffMontserrat;
  font-weight: 600;
  @include fontSize(24px);
  color: $colorBlack;
}
h2,
.h2 {
  font-family: $ffMontserrat;
  font-weight: 600;
  @include fontSize(24px);
  color: $colorBlack;
}
[class*="-h3"] {
  font-family: $ffMontserrat;
  font-weight: 600;
  @include fontSize(22px);
  color: $colorBlack;
}
h3,
.h3 {
  font-family: $ffMontserrat;
  font-weight: 600;
  @include fontSize(22px);
  color: $colorBlack;
}

[class*="-h4"] {
  font-family: $ffMontserrat;
  font-weight: 400;
  @include fontSize(20px);
  color: $colorBlack;
}
h4,
.h4 {
  font-family: $ffMontserrat;
  font-weight: 400;
  @include fontSize(20px);
  color: $colorBlack;
}
[class*="-h5"] {
  font-family: $ffMontserrat;
  font-weight: 400;
  @include fontSize(18px);
  color: $colorBlack;
}
h5,
.h5 {
  font-family: $ffMontserrat;
  font-weight: 400;
  @include fontSize(18px);
  color: $colorBlack;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  text-decoration: underline;
  color: #1c379b;
  cursor: pointer;
}

ul,
li {
  list-style: none;
  font-family: $ffMontserrat;
}

button {
  cursor: pointer;
}
// Example of Btn
.ui-btn-white {
  display: inline-block;
  height: 70px;
  width: 355px;
  line-height: 70px;
  background-color: #fff;
  border: 1px solid #1c379b;
  font-weight: 700;
  font-style: 18px;
  color: #1c379b;
  text-align: center;
  transition: 0.5s ease;
  margin: 10px;
  &:hover {
    background-color: #1c379b;
    color: #fff;
    border: 1px solid transparent;
  }
}

// Breadcrumbs example
[class*="-breadcrumbs"] {
  text-align: center;
  margin-top: 25px;
  a {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    display: inline-block;
    opacity: 0.4;
  }
  :last-child {
    opacity: 1;
    i {
      display: none;
    }
  }
  i {
    margin-left: 15px;
    margin-right: 15px;
  }
}

input::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
input::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
input:-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
input:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
input:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
input:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
input:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
