@import "grid";
@import "UI";
@import "media";
@import "header";
@import "footer";

$ffMontserrat: "Montserrat", sans-serif;
$colorBlack: #191919;
$colorSilver: #647b98;
$colorBlue: #2963cb;
$colorCyan: #398aea;
$colorWhite: #f4f9ff;
$colorGradient: linear-gradient(
  92.42deg,
  #398aea 14.1%,
  #39a3ea 31.59%,
  #39c0ea 46.36%,
  #39c0ea 61.13%,
  #27a6dd 74.74%,
  #398aea 88.73%
);
// Mixin
$html-font-size: 16px;
@function stripUnit($value) {
  @return $value / ($value * 0 + 1);
}
@function rem($pxValue) {
  @return #{stripUnit($pxValue) / stripUnit($html-font-size)}rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-height: 100%;
  font-family: $ffMontserrat;
  font-weight: 400;
  font-size: rem(16px);
  color: $colorBlack;
  background-color: $colorWhite;
}

#wrapper {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  min-height: 100%;
  min-width: 100%;
}
#middle {
  -webkit-box-flex: 1;
  flex: 1 0 auto;
}

#footer {
  -webkit-box-flex: 0;
  flex: 0 0 auto;
}

.container {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding-left: 8px;
  padding-right: 8px;
}

// Main
.middle {
  background-color: #ffffff;

  &-banner {
    margin-top: 60px;
    margin-bottom: 60px;
    img {
    }
  }
  &-categories {
    margin-bottom: 85px;
    &-cards {
      display: flex;
      background-color: $colorWhite;
      height: 125px;
      margin-bottom: 16px;
      border: 1px solid #ffffff00;
      transition: 0.2s ease;
      &:hover {
        border: 1px solid $colorCyan;
      }
      &-img {
        display: inline-block;
        padding: 10px 10px;
        height: 80px;
        width: 100px;
        flex-shrink: 0;
        img {
          max-height: 80px;
        }
      }
      &-text {
        display: inline-block;
        padding: 0px 10px;
        flex-grow: 1;
        .categories-cards-text-title {
          text-transform: uppercase;
          color: #111111;
          font-size: rem(18px);
          font-weight: 600;
          margin-bottom: 5px;
        }
        .categories-cards-text-price {
          font-size: rem(11px);
        }
      }
    }
  }
  &-offer {
    margin-bottom: 60px;
    // padding-right: 8px;
    // padding-left: 8px;
    &-title {
      font-size: rem(24px);
      font-weight: 600;
      margin-bottom: 38px;
    }
    &-arrow {
      color: $colorBlue;
      height: 48px;
      width: 48px;
      border: 1px solid #d6e3f2;
      border-radius: 4px;
      margin: 0 8px;

      text-align: center;
      line-height: 48px;
    }
    .right {
      margin-left: 4px;
    }
  }
  &-sale {
    margin-bottom: 70px;
  }
  &-hits {
    margin-bottom: 100px;
    &-title {
      font-size: rem(24px);
      font-weight: 600;
      margin-bottom: 38px;
    }
    &-arrow {
      color: $colorBlue;
      height: 48px;
      width: 48px;
      border: 1px solid #d6e3f2;
      border-radius: 4px;
      margin: 0 8px;

      text-align: center;
      line-height: 48px;
    }
    .right {
      margin-left: 4px;
    }
  }
}
