@import "grid";
@import "UI";
@import "media";
@import "header";
@import "footer";

$ffMontserrat: "Montserrat", sans-serif;
$colorBlack: #191919;
$colorSilver: #647b98;
$colorBlue: #2963cb;
$colorCyan: #398aea;
$colorWhite: #f4f9ff;
$colorGradient: linear-gradient(
  92.42deg,
  #398aea 14.1%,
  #39a3ea 31.59%,
  #39c0ea 46.36%,
  #39c0ea 61.13%,
  #27a6dd 74.74%,
  #398aea 88.73%
);
// Mixin
$html-font-size: 16px;
@function stripUnit($value) {
  @return $value / ($value * 0 + 1);
}
@function rem($pxValue) {
  @return #{stripUnit($pxValue) / stripUnit($html-font-size)}rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
}

body {
  height: 100%;
  min-height: 100%;
  font-family: $ffMontserrat;
  font-weight: 400;
  font-size: rem(16px);
  color: $colorBlack;
  background-color: #ffffff;
}

#wrapper {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  min-height: 100%;
  min-width: 100%;
}
#middle {
  -webkit-box-flex: 1;
  flex: 1 0 auto;
}

#footer {
  -webkit-box-flex: 0;
  flex: 0 0 auto;
}

.container {
  width: 100%;
  max-width: 1390px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.sticker {
  display: inline-block;
  vertical-align: middle;
  width: 108px;
  height: 20px;
  margin-left: 10px;
  background: linear-gradient(
    92.42deg,
    #37ab00 14.1%,
    #59cb24 31.59%,
    #56d917 46.36%,
    #4dcd11 61.13%,
    #46bc0d 74.74%,
    #37ab00 88.73%
  );
  border-radius: 4px;
  color: #ffffff;
  font-size: rem(11px);
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  .fa-check {
    margin-right: 7px;
  }
}

.dots {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 2px;
  background: url("../images/icons/dots.svg");
  background-repeat: repeat-x;
  bottom: 34%;
  margin-left: 10px;
}
// Main
.middle {
  background-color: #ffffff;
}
.banner {
  margin-bottom: 60px;

  &-img {
    height: 100%;
    background-color: #f5f5f6;
  }
  picture img {
    margin: 0 auto;
  }
  &-slider {
    height: 100%;
    background-color: #f5f5f6;
    margin-bottom: 40px;
    &:hover {
      .slick-arrow {
        opacity: 1;
      }
    }
    .slider-item {
      min-height: 0;
    }
    .slick-track {
      display: flex;
      align-items: center;
    }
    .slick-arrow {
      opacity: 0;
      border: none;
      position: absolute;
      top: 50%;
      z-index: 5;
      font-size: 0;
      width: 55px;
      height: 55px;
      border: 1px solid #2963cb;
      border-radius: 55px;
      margin: 0 50px;
      transition: 0.3s ease;
    }
    .slick-prev {
      left: 0;
      background: url(../images/icons/arrow-blue-slider.png) no-repeat;
      transform: rotate(180deg);
      background-size: 20px 20px;
      background-position: center;
      background-color: rgba(255, 255, 255, 0.9);
    }
    .slick-next {
      right: 0;
      background: url(../images/icons/arrow-blue-slider.png) no-repeat;
      background-size: 20px 20px;
      background-position: center;
      background-color: rgba(255, 255, 255, 0.9);
    }

    .slick-dots {
      display: flex;
      position: absolute;
      bottom: 5%;
      left: 50%;
      li button {
        width: 12px;
        height: 12px;
        background-color: #ffffff;
        margin-right: 8px;
        border: 0;
        font-size: 0;
      }
      .slick-active button {
        width: 12px;
        height: 12px;
        background-color: $colorBlue;
      }
    }
  }
}
.categories {
  margin-bottom: 85px;
  &-card {
    background-color: $colorWhite;
    min-height: calc(100% - 16px);
    margin-bottom: 16px;
    border: 1px solid #ffffff00;
    transition: 0.2s ease;
    padding: 22px 10px;
    overflow: hidden;
    &:hover {
      border: 1px solid $colorCyan;
    }
    &-img {
      flex: 0 0 100px;

      height: 80px;
      img {
        max-height: 80px;
      }
    }
    &-text {
      display: inline-block;
      padding: 0px 10px;
      flex-grow: 1;
      .categories-card-text-title {
        text-transform: uppercase;
        color: #111111;
        font-size: rem(18px);
        font-weight: 600;
        margin-bottom: 5px;
      }
      .categories-card-text-price {
        font-size: rem(11px);
      }
    }
  }
}
.offer {
  margin-bottom: 60px;
  &-header {
    margin-bottom: 30px;
    padding-left: 8px;
    padding-right: 8px;
  }
  &-title {
    text-transform: uppercase;
    font-size: rem(24px);
    font-weight: 600;
  }
  &-arrow {
    color: $colorBlue;
    height: 48px;
    width: 48px;
    border: 1px solid #d6e3f2;
    border-radius: 4px;
    margin: 0 8px;

    cursor: pointer;
    text-align: center;
    line-height: 48px;
    transition: 0.3s ease;
    &:hover {
      border: 1px solid $colorCyan;
    }
  }
  .right {
    margin-left: 4px;
  }
}
.sale {
  margin-bottom: 70px;
  &-img {
    text-align: center;
  }
}
.hits {
  margin-bottom: 100px;
  &-header {
    margin-bottom: 30px;
    padding-left: 8px;
    padding-right: 8px;
  }
  &-title {
    text-transform: uppercase;
    font-size: rem(24px);
    font-weight: 600;
  }

  &-arrow {
    color: $colorBlue;
    height: 48px;
    width: 48px;
    border: 1px solid #d6e3f2;
    border-radius: 4px;
    margin: 0 8px;

    text-align: center;
    line-height: 48px;
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
    transition: 0.3s ease;
    &:hover {
      border: 1px solid $colorCyan;
    }
  }
  .right {
    margin-left: 4px;
  }
}

// Main page-product.html

.page-breadcrumbs {
  margin-top: 23px;
  margin-bottom: 48px;
}
.title {
  margin-bottom: 39px;
  &-h1 {
    margin-bottom: 20px;
  }
  &-articul {
    color: $colorSilver;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
  }
}
.product {
  margin-bottom: 121px;
  &-slider {
    border: 1px solid #d6e3f2;
    padding: 17px;

    .slider-for {
      margin: 0 auto;
      &-img {
        height: 556px;
        img {
          max-height: 556px;
          margin: 0 auto;
        }
      }
    }
    .slider-nav {
      width: 576px;
      margin: 0 auto;
      .slick-arrow {
        // opacity: 0;
        border: none;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        z-index: 5;
        font-size: 0;
        width: 55px;
        height: 55px;

        // transition: 0.3s ease;
      }
      .slick-prev {
        left: -10%;

        background: url(../images/icons/arrow-blue-slider.png) no-repeat;
        transform: translate(-50%, -50%) rotate(180deg);
        background-size: 20px 20px;
        background-position: center;
      }
      .slick-next {
        right: -15%;
        background: url(../images/icons/arrow-blue-slider.png) no-repeat;
        background-size: 20px 20px;
        background-position: center;
      }
      .item {
        width: 140px;
        height: 140px;
        // border: 1px solid $colorSilver;
        margin-right: 15px;
        overflow: hidden;
      }
    }
  }

  &-description {
    padding-left: 76px;
    padding-top: 26px;
    &-price {
      margin-bottom: 30px;
      .price-block {
        display: inline-block;
        margin-right: 58px;
        &-title {
          font-size: rem(11px);
          font-weight: 600;
        }
        &-cena {
          font-size: rem(32px);
          font-weight: 700;
          span {
            font-size: rem(11px);
            font-weight: 600;
          }
        }
      }
    }
    &-btns {
      margin-bottom: 50px;
    }
    &-btn {
      width: 210px;
      height: 52px;
      line-height: 52px;
      font-size: rem(14px);
    }
    &-img {
      display: inline-block;
      position: relative;
      width: 25px;
      height: 25px;
      top: 15%;
      left: -6%;
    }
    .product-description-compare,
    .product-description-favorite {
      display: inline-block;
      position: relative;
      width: 52px;
      height: 52px;
      border: 1px solid #d6e3f2;
      border-radius: 4px;
      margin-left: 16px;
      img {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
      }
    }
    .installments {
      position: relative;
      padding-bottom: 30px;
      background-image: url(../images/icons/Карты.svg);
      background-repeat: no-repeat;
      background-position: center right;
      margin-bottom: 59px;
      a {
        &:hover {
          border-bottom: 1px solid #3989ea00;
        }
      }
      &-img {
        display: inline-block;
        margin-bottom: 0;
        margin-right: 18px;
      }
      &-link {
        display: inline-block;
        a {
          display: block;
        }
      }
    }
    &-profile {
      margin-bottom: 40px;
      &-title {
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 25px;
      }
      table {
        width: 100%;
        font-size: rem(14px);
        margin-bottom: 41px;
        tr {
          width: 100%;
          td {
            position: relative;
            width: 50%;
            padding: 8px 0px;
            overflow: hidden;
          }
        }
      }
      &-link {
        font-size: rem(14px);
        color: $colorCyan;
        border-bottom: 1px dashed $colorCyan;
        cursor: pointer;
      }
    }
    &-footer {
      position: relative;
      font-size: rem(14px);
      &-txt {
        display: inline-block;
        margin-right: 15px;
        color: #6d829f;
      }
      &-icon {
        // position: absolute;
        // transform: translate(-50%, -50%);
        // top: 50%;
        // left: 0;
        display: inline-block;

        img {
          vertical-align: middle;
        }
      }
    }
  }
}
.description {
  margin-bottom: 98px;
  &-text {
    margin-bottom: 37px;
    &-title {
      font-size: rem(20px);
      font-weight: 600;
      margin-bottom: 38px;
    }
    &-describtion {
      font-size: rem(14px);
      font-weight: 400;
      line-height: 24.77px;
      color: #000;
      div {
        margin-bottom: 25px;
      }
    }
  }
  &-specs {
    &-title {
      font-size: rem(20px);
      font-weight: 600;
      margin-bottom: 38px;
      text-transform: uppercase;
    }
    &-table {
      width: 100%;
      font-size: rem(14px);
      .table-title {
        color: $colorCyan;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 27px;
        padding: 0px 25px;
      }
      table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 30px;

        tr {
          td {
            width: 50%;
            padding: 10px 25px;
          }
        }
      }
    }
  }
  &-delivery {
    padding-left: 81px;
    &-title {
      font-size: rem(18px);
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 48px;
    }
  }
  &-card {
    background-color: #ffffff;
    min-height: calc(100% - 11px);
    margin-bottom: 11px;
    border: 1px solid #ffffff00;
    transition: 0.2s ease;
    padding: 23px 5px 26px 30px;
    box-shadow: 0px 4px 20px #d6e3f2;
    &:hover {
      border: 1px solid $colorCyan;
    }
    &-img {
      flex: 0 0 100px;

      height: 80px;
      img {
        max-height: 80px;
      }
    }
    &-text {
      display: inline-block;
      padding: 0px 10px;
      flex-grow: 1;

      &-title {
        text-transform: uppercase;
        color: $colorCyan;
        font-size: rem(14px);
        font-weight: 700;
        margin-bottom: 20px;
      }
      &-price {
        font-size: rem(14px);
        margin-bottom: 5px;
        span {
          font-weight: 700;
          font-size: rem(14px);
          color: #000;
          text-transform: uppercase;
        }
      }
      &-link {
        font-size: rem(12px);
        color: $colorCyan;
        font-weight: 400;
        text-decoration: underline;
      }
    }
  }
}

.bcg-whitesmoke {
  background-color: #f4f9ff;
}
.cyan {
  color: $colorCyan;
}
.bolt {
  font-weight: 600;
}
// start catalogList

.middle {
  &-title {
    &-h1 {
      margin-bottom: 75px;
    }
  }
}
.filter {
  background-color: $colorWhite;
  margin-bottom: 45px;
  &-title {
    font-weight: 700;
    padding-bottom: 15px;
    &-h2 {
      padding-top: 45px;
      padding-bottom: 40px;
      padding-left: 20px;
      border-bottom: 1px solid #e5edf7;
    }
  }
  &-price {
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 20px;
    border-bottom: 1px solid #e5edf7;
    &-title {
      font-weight: 700;
      padding-bottom: 15px;
    }
    &-line {
      padding-right: 5px;
      padding-left: 5px;
    }
    input {
      width: 100px;
      height: 40px;
      padding-left: 10px;
    }
  }
  &-producer {
    text-align: center;
    padding-top: 35px;
    padding-bottom: 40px;
    padding-left: 20px;
    border-bottom: 1px solid #e5edf7;

    &-more {
      margin-left: -20px;
      font-size: rem(12px);
      line-height: rem(15px);
      color: $colorCyan;
      border-bottom: 1px dashed $colorCyan;
      &:hover {
        border-bottom: none;
      }
    }
  }
  &-type {
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 20px;
    border-bottom: 1px solid #e5edf7;
  }
  &-checkbox {
    width: 24px;
    height: 24px;
    margin-right: 9px;
  }
  &-span {
    display: inline-block;
    vertical-align: super;
    font-weight: 300;
    line-height: rem(17px);
  }
  &-diagonal {
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 20px;
    border-bottom: 1px solid #e5edf7;
  }
  &-bottom {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    &-btns {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
    &-show {
      width: 100%;
      height: 48px;
      line-height: 48px;
      font-size: 14px;
      &:hover {
        background: #398aea;
      }
    }
  }
  &-btn-rectangle {
    display: none;
  }
  &-btns {
    display: none;
  }
  ul li {
    padding-bottom: 10px;
    text-align: left;
  }
}
.installments {
  padding-top: 30px;
  padding-left: 30px;
  background-color: #ffffff;
  box-shadow: 0px 4px 20px #d6e3f2;
  &-img {
    position: relative;
    height: 52px;
    width: 52px;
    margin-bottom: 20px;
    border-radius: 25px;
    background-color: #fdc300;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &-info {
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: $colorCyan;
    border-bottom: 1px dashed $colorCyan;

    &:hover {
      border-bottom: none;
    }
  }
  &-more {
    display: inline-block;
    padding-top: 13px;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: $colorCyan;
    border-bottom: 1px solid $colorCyan;
    &:hover {
      border-bottom: none;
    }
  }
  img {
    display: block;
    margin-left: auto;
  }
}
.catalog {
  position: relative;
  border: 1px solid #d6e3f2;
  margin-bottom: 40px;
  &-item {
    display: inline-block;
    width: 100%;
    padding-left: 30px;
    border-right: 1px solid #d6e3f2;
    &-features {
      display: flex;
      align-items: center;
      img {
        padding-right: 5px;
      }
      &-compare {
        padding-right: 10px;
        font-weight: 600;
        font-size: 11px;
        line-height: 13px;
        color: #6d829f;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    &-img {
      display: inline-block;
      padding-top: 40px;
      padding-bottom: 40px;
      img {
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
    &-description {
      display: inline-block;
      vertical-align: top;
      padding-top: 40px;
      padding-bottom: 40px;
      padding-left: 35px;

      &-title {
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
      }
      &-articule {
        padding-bottom: 35px;
      }

      table tbody tr td {
        position: relative;
        vertical-align: top;
        width: 50%;
        padding-bottom: 9.5px;
        overflow: hidden;
        font-size: rem(14px);
      }
    }
  }
  &-marker {
    position: absolute;
    top: 4%;
    left: 1.5%;
    height: 24px;
    line-height: 24px;
    font-weight: 600;
    padding-right: 9px;
    padding-left: 9px;
    font-size: 11px;
    background-color: #ea3939;
    color: #ffffff;
  }
  &-pay {
    display: inline-block;
    vertical-align: top;
    padding-top: 40px;
    padding-bottom: 40px;
    // padding-right: 35px;
    padding-left: 35px;
    &-first_price {
      font-size: 13px;
    }
  }
  &-description {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 35px;
    &-title {
      padding-bottom: 5px;
      font-weight: 600;
      font-size: 11px;
      line-height: 13px;
    }
    &-price {
      font-weight: bold;
      font-size: 32px;
      line-height: 39px;
      padding-bottom: 15px;
      span {
        font-weight: 600;
        font-size: 11px;
        line-height: 13px;
      }
    }
    &-btn {
      width: 100%;
      height: 52px;
      margin-top: 7px;
      line-height: 52px;
      font-size: rem(14px);
      &:hover {
        background: $colorCyan;
      }
    }
    &-compare {
      display: none;
    }
    &-favorite {
      display: none;
    }
  }
}

.articule {
  display: inline-block;
  padding-right: 10px;
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
  color: #6d829f;
}
.in_stock {
  img {
    padding-right: 5px;
  }
  display: inline-block;
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
  color: #37ab00;
}
// .pay {
//   display: inline-block;
//   vertical-align: top;
// }
// END cataloglist

// Contact.html

.col-contact-21 {
  -webkit-box-flex: 0;
  flex: 0 0 21%;
  max-width: 21%;
}
.col-contact-30 {
  -webkit-box-flex: 0;
  flex: 0 0 30%;
  max-width: 30%;
}
.col-contact-25 {
  -webkit-box-flex: 0;
  flex: 0 0 25%;
  max-width: 25%;
}
.col-contact-24 {
  -webkit-box-flex: 0;
  flex: 0 0 24%;
  max-width: 24%;
}

.contact {
  &-h1 {
    margin-bottom: 40px;
  }
  &-info {
    margin-bottom: 50px;
    &-h4 {
      font-weight: 600;
      margin-bottom: 20px;
    }
    &-adress {
      font-size: rem(20px);
      font-weight: 600;
      padding-left: 20px;
      margin-bottom: 20px;
    }
    &-details {
      margin-bottom: 8px;
      position: relative;
      // padding-left: 20px;
      &-img {
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
      }
      &-adress {
        position: absolute;
        top: 0;
        left: 20px;
      }
      &-location {
        position: relative;
        padding-left: 40px;
      }
    }
    &-losation {
      padding-left: 20px;
    }
  }

  &-about {
    margin-bottom: 30px;
    &-form {
      height: 100%;
      padding: 20px 30px;
      box-shadow: 0px 4px 20px #d6e3f2;
      &-h4 {
        text-align: center;
        font-weight: 500;
        line-height: 24, 38px;
        margin-bottom: 8px;
      }
      &-title {
        text-align: center;
        font-size: rem(11px);
        line-height: 21px;
        font-weight: 400;
      }

      &-input {
        margin-bottom: 10px;
      }
      &-subtitle {
        color: black;
        font-size: rem(10px);
        margin-bottom: 4px;
      }
      &-type {
        width: 100%;
        height: 40px;
        border: 1px solid #e5edf7;
        border-radius: 4px;
      }
      &-text {
        margin-bottom: 10px;
      }
      &-textarea {
        width: 100%;
        height: 51px;
        resize: none;
        border: 1px solid #e5edf7;
        border-radius: 4px;
      }
      &-userterms {
        font-size: rem(9px);
        font-weight: 300;
        line-height: 17px;
        padding-right: 30px;
        margin-bottom: 18px;
        a {
          text-decoration: underline;
        }
      }
      &-btn {
        border: none;
        display: block;
        width: 160px;
        margin: 0 auto;
        background: $colorCyan;
      }
    }
  }
  &-photo {
    height: 226px;
    img {
      max-height: 226px;
    }
  }
}

// Mobile nav

.mobile-nav {
  display: none;
  width: 100%;
  height: 64px;
  overflow: hidden;
  background-color: #ffffff;
  position: fixed;
  bottom: 0;
  padding: 0px 16px;
  &-menu {
    white-space: nowrap;
    display: flex;

    &-services {
      display: inline-block;
      text-align: center;

      &-img {
        text-align: center;
        display: inline-block;
        height: 25px;
        margin-bottom: 5px;

        img {
          max-height: 25px;
          vertical-align: middle;
        }
      }
      &-text {
        color: $colorSilver;
        font-size: rem(11px);
      }
    }
  }
}

// start news-list.html

.info > * {
  padding-top: 30px;
  padding-left: 20px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  background-color: $colorWhite;
}

.info {
  &-title {
    padding-bottom: 15px;
    font-size: rem(16px);
    font-weight: 700;
  }
  ul li {
    padding-bottom: 10px;
    color: #6d829f;
    font-size: rem(13px);
    &:hover {
      text-decoration: underline;
    }
  }
}
.news {
  &-card {
    display: flex;
    margin-bottom: 30px;
    &-description {
      position: relative;
    }
    &-img {
      margin-right: 10px;
      flex: 0 0 31%;
      min-width: 120px;
    }
    &-title {
      padding-bottom: 20px;
      font-size: rem(20px);
      font-weight: 600;
    }
    &-txt {
      padding-bottom: 50px;
      padding-right: 20px;
    }
    &-more {
      position: absolute;
      bottom: 0;
      left: 0;
      text-decoration: underline;
      font-size: rem(14px);
      font-weight: 400;
      &:hover {
        text-decoration: none;
      }
    }
    &-data {
      position: absolute;
      bottom: 0;
      right: 0;
      color: #6d829f;
      font-weight: 400;
      font-size: rem(14);
    }
  }
  &-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    // text-align: center;
    padding-bottom: 100px;
    margin: 0 auto;
    a {
      display: inline-block;
      text-align: center;
      line-height: 46px;
      height: 48px;
      width: 48px;
      margin-right: 20px;
      font-size: rem(20px);
      font-weight: 600;
      border: 1px solid #d6e3f2;
      border-radius: 4px;
      &:hover {
        color: #ffffff;
        background-color: $colorCyan;
      }
    }

    &-first {
      display: inline-block;
      text-align: center;
      height: 48px;
      width: 48px;
      line-height: 46px;
      margin-right: 20px;
      margin-left: 20px;
      font-size: rem(20px);
      font-weight: 600;
      border-radius: 4px;
      border: 1px solid #d6e3f2;
      cursor: pointer;
      &:hover {
        color: #ffffff;
        background-color: $colorCyan;
      }
    }
    &-dots {
      position: relative;
      display: inline-block;
      height: 48px;
      width: 48px;
      margin-right: 20px;
      // margin-right: 20px;
      // img {
      //   margin-left: 8px;
      // }
      // img:first-child {
      //   margin-left: 0;
      // }
      .pagination-dots {
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        background-color: #d8e5f3;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        &::before,
        &::after {
          content: "";
          position: absolute;
          width: 8px;
          height: 8px;
          background-color: #d8e5f3;
          border-radius: 50%;
          transform: translate(-50%, -50%);
          top: 50%;
          left: 50%;
        }
        &::before {
          left: 19px;
        }
        &::after {
          left: -10px;
        }
      }
    }

    &-btn {
      display: block;
      margin: 0 auto;
      margin-bottom: 30px;
      margin-bottom: 30px;
      text-align: center;
      width: 160px;
      height: 36px;
      line-height: 36px;
      border-radius: 4px;
      font-size: rem(11px);
      color: #ffffff;
      background-color: $colorCyan;
    }

    img {
      cursor: pointer;
    }
  }
}

// end news list
