<div class="calculator">
  <div id="app">
<!-- Test attr -->
<br><br><hr><br>
<div class="test-attr">
  <!-- <button @click="callFunction" item-price="22">Click Me</button> -->
  <div class="priceTest" ref="itemPrice" item-price="22">
    {{calculatorItemPrice}} - item price
  </div>
  <input type="hidden" ref="termsArr" terms-value="6, 10, 12, 15, 18, 24, 36, 48">
  <input type="hidden" ref="percentsArr" percents-value="0, 10, 20, 30, 40, 50, 60">
  {{terms}}
  {{percents}}
</div>  
<br><hr><br><br>
<!--  -->
    <div class="calculator-title">Кредитный калькулятор</div>
    <div class="calculator-alert">
      <div class="calculator-alert-img">
        <img src="./images/icons/!.svg" alt="alt" />
      </div>
      <div class="calculator-alert-txt">
        Расчёт является приблизительным! Окончательные условия уточняйте у
        менежеров!
      </div>
    </div>
    <div class="calculator-item hide">
      <div class="row">
        <div class="col-7">
          <div class="calculator-item-info">
            <div class="calculator-item-marker">НОВИНКА</div>
            <div class="calculator-item-img">
              <a href="#">
                <img src="./images/icons/cart-item-1.png" alt="alt"
              /></a>
            </div>
            <div class="calculator-item-description">
              <a href="#" class="calculator-item-title">
                Acer Aspire 3 A315-22-44UQ NX.HE8EU.00Z
              </a>
              <div class="calculator-item-article">
                <div class="calculator-item-number">КОД ТОВАРА: SJ0065478</div>
                <div class="calculator-item-in-stock">
                  <img src="./images/icons/accept.png" alt="alt" />
                  В НАЛИЧИИ 
                </div>
              </div>
              <div class="calculator-item-price">
                {{calculatorItemPrice}}<span>РУБ.</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-5">
          <div class="calculator-item-credit">
            <div class="calculator-item-icon">
              <img src="./images/icons/item-icon.svg" alt="alt" />
            </div>
            <div class="calculator-item-cena">
              В кредит от <span>50.20</span> руб.
            </div>
            <div class="calculator-item-cena">
              В рассрочку от <span>132.20</span> руб.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="calculator-vue">
      <div class="calculator-buttons hide">
        <input
          name="contact"
          type="radio"
          id="radio1"
          v-on:click="changeTab('credit')"
          checked
        />
        <label for="radio1">Кредит от банка</label>
        <input
          name="contact"
          type="radio"
          id="radio2"
          v-on:click="changeTab('installment')"
        />
        <label for="radio2">Рассрочка</label>
        <input
          name="contact"
          type="radio"
          id="radio3"
          v-on:click="changeTab('cards')"
        />
        <label for="radio3">Карты рассрочек</label>
        <div class="calculator-buttons-txt">
          Халва, Черепаха, Магнит и другие
        </div>
      </div>
      <!-- Таб 1 -->
      <div class="calculator-vue-creditBank" v-if="activeTab === 'credit'">
        <div class="calculator-loan hide">
          <div class="calculator-loan-title">
            Срок кредитования,<span>кол-во месяцев</span>
          </div>
          <div class="calculator-loan-btns">
            <div
              class="calculator-loan-btn"
              v-for="(term,index) in terms"
              :key="term"
            >
              <input
                name="credit"
                type="radio"
                :id="'term' + term"
                :checked="index===0"
                @change="changeTerm(term)"
              />
              <label :for="'term' + term">{{term}} мес</label>
            </div>
          </div>
        </div>
        <div class="calculator-instalment hide">
          <div class="calculator-instalment-title">
            Первый взнос,<span>процент от стоимости товара</span>
          </div>
          <div class="calculator-instalment-btns">
            <div
              class="calculator-instalment-btn"
              v-for="(percent,index) in percents"
              :key="percent"
            >
              <input
                name="credit1"
                type="radio"
                :id="'percent' + percent"
                :checked="index===0"
                @change="changePercents(percent)"
              />
              <label :for="'percent' + percent">{{percent + '%'}}</label>
            </div>
          </div>
        </div>
      </div>
      <!-- Таб 2 -->
      <div class="calculator-vue-installment hide" v-if="activeTab === 'installment'">
        <div class="calculator-vue-info">
          <div class="calculator-vue-description">
            <div class="calculator-vue-title">
              Срок рассрочки, <span>кол-во месяцев</span>
            </div>
            <div class="calculator-vue-para"></div>
          </div>
          <div
            class="calculator-vue-btn"
            v-for="(installment,index) in installmentMonths"
            :key="index"
          >
            <input
              name="installment"
              type="radio"
              :id="'installment' + index"
              :checked="index===0"
              @change="changeTerm(installment)"
            />
            <label :for="'installment' + index" class="calculator-vue-input"
              >{{installment}} мес</label
            >
          </div>
        </div>
        <div class="calculator-vue-info">
          <div class="calculator-vue-description">
            <div class="calculator-vue-title">
              Первый взнос,<span> % от стоимости товара</span>
            </div>
          </div>
          <div
            class="calculator-vue-btn"
            v-for="(percent,index) in contributionMounths"
            :key="percent"
          >
            <input
              name="contribution"
              type="radio"
              :id="'contribution' + index"
              :checked="index===0"
              @change="changePercents(percent)"
            />
            <label :for="'contribution' + index" class="calculator-vue-input"
              >{{percent}}</label
            >
          </div>
        </div>
      </div>
      <!-- Таб 3 -->
      <div class="calculator-vue-cards" v-if="activeTab === 'cards'">
        <div class="row">
          <div
            class="col-3 col-calculator-vue"
            v-for="(percent,index) in installments"
            :key="index"
          >
            <input
              name="cart"
              type="radio"
              :id="'installment' + index"
              :checked="index===0"
              @change="changePercents(percent)"
            />
            <label :for="'installment' + index" class="calculator-vue-card">
              <div class="calculator-vue-img">
                <img v-bind:src="percent[2]" alt="alt" />
              </div>
              <div class="calculator-vue-description">
                <div class="calculator-vue-title">{{percent[0]}}</div>
                <div class="calculator-vue-txt">
                  Рассрочка: <span>{{percent[1]}} мес</span>
                </div>
              </div>
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="calculator-bar hide">
      <div class="row">
        <div class="col-calculator-74 col-md-12">
          <div class="calculator-table">
            <table>
              <tbody>
                <tr class="calculator-table-top">
                  <th>Типы услуг</th>
                  <th>Первый взнос</th>
                  <th>Макс. платеж, в месяц</th>
                  <th>Всего переплата</th>
                  <th>Итого</th>
                </tr>
                <tr class="calculator-table-bottom">
                  <td v-if="activeTab === 'credit'">Кредит</td>
                  <td v-if="activeTab === 'installment'">Рассрочка</td>
                  <td v-if="activeTab === 'cards'">Карта 
                    рассрочки</td>
                  <!--   cena/100 * percent  -->
                  <td>{{calculatorItemPrice / 100 * resultPercents}} <span>РУБ.</span></td>
                  <td>{{2000 * currentTerm}} <span>РУБ.</span></td>
                  <td>{{resultTerms}}<span>РУБ.</span></td>
                  <td> сумма всех трех полей <span>РУБ.</span></td>
                  <!-- Делать ли эту конструкцию через if для каждого таба? -->
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-calculator-26 flex valign-end">
          <a href="#" class="calculator-btn ui-btn" @click="setData">оформить заказ</a>
        </div>
      </div>
    </div>
    <div class="calculator-mob-article flex">
      <div class="calculator-mob-img">
        <a href="#"> <img src="./images/icons/cart-item-1.png" alt="alt" /></a>
      </div>
      <div class="calculator-mob-description">
        <a href="#" class="calculator-mob-title">
          Acer Aspire 3 A315-22-44UQ NX.HE8EU.00Z
        </a>
        <div class="calculator-mob-number">Код товара: SJ0065478</div>
        <div class="calculator-mob-price">{{calculatorItemPrice}}<span>РУБ.</span></div>
      </div>
    </div>
    <!-- Адаптив блок -->
    <div class="calculator-mob-form show">
      <form action="">
        <div class="calculator-mob-step">
          шаг-1 - <span>Выберите тип услуги</span>
        </div>
        <div class="calculator-mob-select">
          <select @change="changeCredit(e)" v-model="Credit">
            <option selected value="seceltedChoose">Выбрать</option>
            <option value="Credit">Кредит</option>
            <option value="Credit_R">Рассрочка</option>
          </select>
        </div>
        <!-- Шаг 2 -->
        <template v-if="Credit !== 'seceltedChoose'">
          <div class="calculator-mob-step">
            шаг-2 - <span>Выберите срок кредитования</span>
          </div>
          <div class="calculator-mob-select">
            <select>
              <option selected dibled>Выбрать</option>
              <option v-for="t in terms" :key="t" v-if="Credit == 'Credit'" @change="choosePrise(t)">
                {{t + " " + 'мес'}}
                
              </option>
              <option v-for="cnt in installmentMonths" :key="cnt" v-if="Credit == 'Credit_R'">
                {{cnt + " " + 'мес'}}
              </option>
            </select>
        
          </div>
          <!-- Шаг 3 -->
          <div class="calculator-mob-step">
            шаг-3 - <span>Выберите первый взнос</span>
          </div>
          <div class="calculator-mob-select">
            <select>
              <option selected disabled>Выбрать</option>
              <option v-for='p in percents' :key="p" v-if="Credit == 'Credit'">
                {{p}}
              </option>
              <option v-for='cnm in contributionMounths' :key="cnm" v-if="Credit == 'Credit_R'">
                {{cnm}}
              </option>
            </select>
          </div>
          <!-- Расчет -->
          <div class="calculator-mob-box">
            <div class="calculator-mob-credit">
              <div class="calculator-mob-loan" v-if="Credit == 'Credit'">{{creditText}}</div>
              <div class="calculator-mob-loan" v-if="Credit == 'Credit_R'">{{creditTextR}}</div>
              <div class="calculator-mob-cena">12 164.00 <span>РУБ.</span></div>
            </div>
            <div class="calculator-mob-table">
              <div class="calculator-mob-info">
                <div class="calculator-mob-txt">Первый взнос</div>
                <div class="calculator-mob-cena">{{calculatorItemPrice}}<span>РУБ.</span></div>
              </div>
              <div class="calculator-mob-info">
                <div class="calculator-mob-txt">Макс. платеж, в месяц</div>
                <div class="calculator-mob-cena">164.28 <span>РУБ.</span></div>
              </div>
              <div class="calculator-mob-info">
                <div class="calculator-mob-txt">Всего переплата</div>
                <div class="calculator-mob-cena">164.28 <span>РУБ.</span></div>
              </div>
            </div>
          </div>
          <button class="calculator-mob-btn ui-btn">оформить заказ</button>
        </template>
        <!-- End -->
        <a href="#" class="calculator-mob-close mfp-close">
          <img src="./images/icons/Крестик для иконки.svg" alt="alt" />
          Закрыть калькулятор
        </a>
      </form>
    </div>
   
  </div>
  <script>


    new Vue({
      el: "#app",
      data: {

        pr: null,
        installments: [
          ["Приват банк", 3, "../images/examples/halva 1.png"],
          ["Приват банк", 1, "../images/examples/halva 1.png"],
          ["Халва", 4, "../images/examples/halva 1.png"],
          ["Приват банк", 7, "../images/examples/halva 1.png"],
          ["Приват банк", 8, "../images/examples/halva 1.png"],
        ],
        activeTab: "credit",
        currentTerm: "",
        firstElement: true,
        secondElement: false,
        thirdElement: false,
        resultTerms:null,
        resultPercents:null,
        calculatorItemPrice: null,
        // Кредит
        terms: [],
        percents: [],
        // Рассрочка
        contributionMounths: [0,1,2,3],
        installmentMonths: [3,2,3,4],
        // Vars
        key: '',
        Credit: "seceltedChoose",
        creditText: 'Кредит',
        creditTextR: 'Рассрочка',
        selected: '',


        getData: [],
        
      },
     
      methods: {
        changeTerm(term) {
          this.resultTerms = term;
          console.log(this.resultTerms);
        },
        changePercents(percent) {
          this.resultPercents = percent;
          console.log(this.resultPercents);
        },
      
     
        choosePrise(t) {
          this.resultTerms = t;
          console.log(this.resultTerms);
        },
       
        setData(){
            this.getData.push(this.resultTerms)
            // if(this.getData.length === 2) {
            //   this.getData.splice(this.getData.indexOf(this.resultTerms), 1)
            // }
            this.getData.push(this.resultPercents)
         

            const dataContact = JSON.stringify(this.getData)
            console.log(dataContact)

            // Отправляем данные 
                // fetch(" ", {
                //       method: "POST",
                //       body: JSON.stringify(str),
                //       headers: {
                //         "Content-type": "application/json; charset=UTF-8",
                //       },
                //     })
                //       .then((response) => response.json())
                //       .then((data) => {
                //         console.log(data)
                //     })
        },

        changeTab(tab) {
          this.activeTab = tab;
        },
      },
      mounted() {
        this.currentTerm = this.terms[0];
        this.calculatorItemPrice = this.$refs.itemPrice.getAttribute('item-price');
        // Кредит
        this.terms = this.$refs.termsArr.getAttribute('terms-value');
        let TermsSplit =  this.terms.split(',').map(function(item){
          return parseInt(item, 10);
        });
        this.terms = TermsSplit;
        console.log(TermsSplit + 'termssplit')
        console.log(this.terms)
        // Рассрочка
        this.percents = this.$refs.percentsArr.getAttribute('percents-value');
        let PercentsSplit = this.percents.split(',').map(function(item) {
          return parseInt(item, 10);
        })
        this.percents = PercentsSplit
      },




    });
  </script>
</div>
